<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> to do list</title>
</head>
<body>


    <h1 style=" color : green"> <%= kinofDay %> </h1>
    <ul>
        <% for (var i=0; i< newlistitems.length; i++) { %>
          <li><%= newlistitems[i] %></li>
        <% } %>
      </ul>

    <form action="/" method="post">
        <input type="text" name="Newitem" id="">
        <button type="submit" name="button"> add</button>
    </form>





    <!-- <% if (kinofDay =="Mercredi"){%>
        <h1 style=" color : green"> Today is a <%= kinofDay %> </h1>
<% } else{%>
        <h1 style=" color :blue"> Today is a <%= kinofDay %> </h1>
    <%} %> -->
    
</body>
</html>